<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}}
    <div class="container-fluid">
        <h2>Student Profile</h2>
        <img src="/images/profile.jpg" alt="">
        <h2>Id : {{student.id}}</h2>
        <h2>Name : {{student.name}}</h2>
        <h2>DOB : {{student.dob}}</h2>
        <h2>Email : {{student.email}}</h2>
        <h2>Degree : {{student.degree}}</h2>
        <h2>Age : {{student.age}}</h2>
        <h2>Mobile : {{student.mobile}}</h2>
        <h2>Address : {{student.address}}</h2>
        <h2>Gender : {{student.gender}}</h2>
    </div>
</body>
</html>